<%- include("../partials/header.ejs") %>

<h1><%= post.title %></h1> 
<p><%= post.id %></p>
<p><%= post.content %></p>
<p><i><%= post.author %></i></p>
<p><i><%= post.date %></i></p>

<a href="/posts">Liste</a>
<a href="/posts/edit/<%= post.id %>">Modifier</a>
<a href="/posts/delete/<%= post.id %>">Supprimer</a>
  
<%- include("../partials/footer.ejs") %>