<%- include("../partials/header.ejs") %>

<h1>Modification du post</h1>

<form action="/posts/edit/<%= post._id %>" method="post">
  <label for="title">Titre</label>
  <input type="text" name="title" value="<%= post.title %>"> <br>

  <label for="title">Contenu</label>
  <textarea name="content" id="content" cols="30" rows="10"><%= post.content %></textarea> <br>

  <label for="title">Auteur</label>
  <input type="text" name="author" value="<%= post.author %>"> <br>

  <button type="submit">Créer</button>
</form>
  
<%- include("../partials/footer.ejs") %>